<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003688476075-2i10jk3c95pnn7p0p11vlec85dqhigpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003688476075-2i10jk3c95pnn7p0p11vlec85dqhigpq</string>
	<key>API_KEY</key>
	<string>AIzaSyCdJNk8TS5I0z0pZ3UXMlcewNgyc4FXlwI</string>
	<key>GCM_SENDER_ID</key>
	<string>1003688476075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dokanpat.bd</string>
	<key>PROJECT_ID</key>
	<string>dokanpat-351c5</string>
	<key>STORAGE_BUCKET</key>
	<string>dokanpat-351c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003688476075:ios:31722e16a89aaeb22fe6ee</string>
</dict>
</plist>